<!doctype html>
<html lang="fr">
  <link rel="stylesheet" href="static/csss.css"> 
  <title>Connection</title>

  <body>
    <header>
        <h1>Tourcoing Events</h1>
    </header>
    
    <p1>
        <br>
        <a href="accueil">accueil </a> -
        <a href="event">evenements </a> -
        <a href="form_connex">connexion  </a> -
        <a href="form_inscription"> inscription </a>
        </br>
    </p1>

<main>
<h1>Pour vous connecter à votre compte, remplissez le formulaire ci-dessous :</h1>

<form method="post" action="connexion">
  <p> Adresse mail : <input type="text" name="mail"> </p>
  <p> Mot de passe : <input type="password" name="mdp"> </p>
  <p><input type=submit value="Se connecter">

</form>
</main>
</html>



