<!doctype html>
<title>Inscription</title>
<link rel="stylesheet" href="static/csss.css"> 

<body>
  <header>
      <h1>Tourcoing Events</h1>
  </header>
  
  <p1>
      <br>
      <a href="accueil">accueil </a> -
      <a href="event">evenements </a> -
      <a href="form_connex">connexion  </a> -
      <a href="form_inscription"> inscription </a>
      </br>
  </p1>

<main>
Pour inscrire, remplissez le formulaire ci-dessous :

<form method="post" action="inscription">
  <p> Nom : <input type="text" name="nom">
  <p> Prénom : <input type="text" name="prenom">
  <p> Date de naissance (ex :2001-10-29) : <input type="date" name="date">
  <p> Adresse mail : <input type="text" name="mail">
  <p> Mot de passe : <input type="password" name="mdp">
  <p><input type=submit value="S'inscrire">
</form>

</main>