<!doctype html>
<title>Ajouter un évènement</title>
<link rel="stylesheet" href="static/csss.css"> 
<main>
Remplissez le formulaire ci-dessous pour ajouter un évènement :


<form method="post" action="event_insert">
  <p> Nom: <input type="text" name="nom">
  <p> Age minimum: <input type="number" name="ageMin">
    <p> Age max: <input type="number" name="ageMax">
    <p> Prix d'éntrée: <input type="number" name="prix">
    <p> Notice: <input type="texte" name="notice">
    <p> Nombre de places: <input type="number" name="NbPersonne">
  <p><input type=submit value="Ajouter">
</form>
</main>